version: 2

multi-ecosystem-groups:
  backend:
    schedule:
      interval: "monthly"
  infra:
    schedule:
      interval: "monthly"

updates:
  - package-ecosystem: "cargo"
    directory: "/"
    patterns:
      - "*"
    multi-ecosystem-group: "backend"

  - package-ecosystem: "github-actions"
    directory: "/"
    patterns:
      - "*"
    multi-ecosystem-group: "infra"

  - package-ecosystem: "docker"
    directory: "/gitjobs-server"
    patterns:
      - "*"
    multi-ecosystem-group: "infra"

  - package-ecosystem: "docker"
    directory: "/gitjobs-syncer"
    patterns:
      - "*"
    multi-ecosystem-group: "infra"

  - package-ecosystem: "docker"
    directory: "/database/migrations"
    patterns:
      - "*"
    multi-ecosystem-group: "infra"
