.DS_Store
.vscode
/target
Chart.lock
chart/charts
gitjobs-server/dist
gitjobs-server/static/css/styles.css
node_modules
package-lock.json
package.json
!tests/e2e/package-lock.json
!tests/e2e/package.json
!tests/unit/package-lock.json
!tests/unit/package.json
test-results
