{% import "macros/ui.html" as ui -%}
{% import "macros/moderator.html" as moderator -%}

<div class="flex items-center">
  {# Mobile filters button -#}
  <div class="flex shrink-0 me-3 md:me-6 lg:hidden">
    <button id="open-menu-button"
            class="btn-primary-outline group size-[40px] p-0 items-center flex justify-center">
      <div class="svg-icon size-4 icon-menu group-hover:bg-white shrink-0"></div>
    </button>
  </div>
  {# End mobile filters button -#}
  {{ ui::form_title(title = title) -}}
</div>

{{ moderator::jobs_table(jobs = jobs, empty_title = empty_title, is_pending = is_pending) -}}

<div class="flex flex-col space-y-4 md:hidden mt-6">
  {% if jobs.is_empty() -%}
    {{ ui::empty_state_alert(title = empty_title) -}}
  {% else -%}
    {% for job in jobs -%}
      {{ moderator::mobile_job_card(job = job, is_pending = is_pending) -}}
    {% endfor -%}
  {% endif -%}
</div>

{# Preview modal -#}
{% include "misc/moderator_preview_modal.html" -%}
{# End preview modal -#}

{# Reject modal -#}
{% include "misc/moderator_reject_modal.html" -%}
{# End reject modal -#}
