{% import "macros.html" as macros -%}

{# Update user details form -#}
<form id="user-details-form"
      hx-put="/dashboard/account/update/details"
      hx-ext="no-empty-vals"
      hx-trigger="submit"
      hx-indicator="#dashboard-spinner, #save-user-spinner"
      hx-disabled-elt="button[type=submit]">
  <div class="space-y-12">
    <div>
      {{ macros::form_title(title = "Account", description = "You can update your personal user account details here.") -}}
      <div class="mt-10 grid grid-cols-1 gap-x-6 gap-y-8 md:grid-cols-6 max-w-5xl">
        {# Name -#}
        <div class="col-span-3">
          <label for="name" class="form-label">
            Name <span class="asterisk">*</span>
          </label>
          <div class="mt-2">
            <input type="text"
                   name="name"
                   id="name"
                   value="{{ user_summary.name }}"
                   maxlength="{{ crate::validation::MAX_LEN_DISPLAY_NAME }}"
                   class="input-primary"
                   autocomplete="off"
                   autocorrect="off"
                   autocapitalize="off"
                   spellcheck="false"
                   required>
          </div>
          <p class="form-legend">Max {{ crate::validation::MAX_LEN_DISPLAY_NAME }} characters.</p>
        </div>
        {# End name -#}

        <div class="col-span-3"></div>
      </div>
    </div>

    <div class="mt-6">
      <button type="submit" class="btn-primary">
        {{ macros::btn_spinner(id = "save-user-spinner", spinner_type = "2") -}}
        Save
      </button>
    </div>
  </div>
</form>
{# End update user details -#}

{% let has_password = user_summary.has_password.unwrap_or(false) -%}
{% if has_password -%}
  <hr class="w-full h-px mx-auto my-12 bg-stone-200 border-0">

  {# Update user password form -#}
  <form id="password-form"
        hx-put="/dashboard/account/update/password"
        hx-ext="no-empty-vals"
        hx-trigger="submit"
        hx-target="body"
        hx-indicator="#dashboard-spinner, #update-password-spinner"
        hx-disabled-elt="button[type=submit]">
    <div class="space-y-12">
      <div>
        {{ macros::form_title(title = "Update password", description = "After updating your password all your current sessions will be terminated and you will need to log back in.") -}}

        <div class="mt-10 grid grid-cols-1 gap-x-6 gap-y-8 md:grid-cols-6 max-w-5xl">
          <div class="col-span-3">
            <label for="old_password" class="form-label">
              Current password <span class="asterisk">*</span>
            </label>
            <div class="mt-2">
              <input type="password"
                     id="old_password"
                     name="old_password"
                     minlength="{{ crate::validation::MIN_PASSWORD_LEN }}"
                     maxlength="{{ crate::validation::MAX_LEN_M }}"
                     class="input-primary"
                     required>
            </div>
            <p class="form-legend">Min {{ crate::validation::MIN_PASSWORD_LEN }} characters.</p>
          </div>

          <div class="col-span-3"></div>

          <div class="col-span-3">
            <label for="new_password" class="form-label">
              New password <span class="asterisk">*</span>
            </label>
            <div class="mt-2">
              <input type="password"
                     id="new_password"
                     name="new_password"
                     data-password
                     minlength="{{ crate::validation::MIN_PASSWORD_LEN }}"
                     maxlength="{{ crate::validation::MAX_LEN_S }}"
                     class="input-primary"
                     required>
            </div>
            <p class="form-legend">Min {{ crate::validation::MIN_PASSWORD_LEN }} characters.</p>
          </div>

          <div class="col-span-3">
            <label for="password_confirmation" class="form-label">
              Repeat new password <span class="asterisk">*</span>
            </label>
            <div class="mt-2">
              <input type="password"
                     id="password_confirmation"
                     name="password_confirmation"
                     data-password-confirmation
                     minlength="{{ crate::validation::MIN_PASSWORD_LEN }}"
                     maxlength="{{ crate::validation::MAX_LEN_S }}"
                     class="input-primary"
                     required>
            </div>
            <p class="form-legend">Min {{ crate::validation::MIN_PASSWORD_LEN }} characters.</p>
          </div>
        </div>
      </div>

      <div class="mt-6 items-center">
        <button type="submit" class="btn-primary">
          {{ macros::btn_spinner(id = "update-password-spinner", spinner_type = "2") -}}
          Save
        </button>
      </div>
    </div>
  </form>
  {# End update user password form -#}
{% endif -%}

<script type="module">
  import {
    handleHtmxResponse
  } from '/static/js/common/alerts.js';

  const userDetailsForm = document.getElementById('user-details-form');
  const passwordForm = document.getElementById('password-form');

  if (userDetailsForm) {
    userDetailsForm.addEventListener('htmx:afterRequest', (e) => {
      handleHtmxResponse({
        xhr: e.detail.xhr,
        errorMessage: 'Something went wrong updating the user details. Please try again later.'
      });
    });
  }

  if (passwordForm) {
    passwordForm.addEventListener('htmx:afterRequest', (e) => {
      handleHtmxResponse({
        xhr: e.detail.xhr,
        errorMessage: 'Something went wrong updating the password. Please try again later.'
      });
    });
  }
</script>
