{% extends "dashboard/dashboard_base_moderator.html" -%}
{% import "macros.html" as macros -%}

{% block dashboard_main -%}
  <div id="dashboard-content"
       hx-get="{%- if content.is_pending_jobs() -%}/dashboard/moderator/jobs/pending{%- else -%}/dashboard/moderator/jobs/live{%- endif -%}"
       hx-trigger="refresh-moderator-table"
       class="p-4 sm:p-6 lg:p-12">
    {# Content -#}
    {{ content|safe }}
    {# End Content -#}
  </div>
  {# Messages -#}
  {% if !messages.is_empty() -%}
    {{ macros::alerts(messages) -}}
  {% endif -%}
  {# End messages -#}
{% endblock dashboard_main -%}
