{% import "macros/ui.html" as ui -%}
{% import "macros/header.html" as header -%}

{# Navbar -#}
<div class="flex items-center gap-x-6">
  {# Logo -#}
  <div class="me-3">
    <a hx-boost="true" hx-target="body" href="/" aria-label="Go to homepage">
      <div class="h-7 w-[138px] md:h-[33px] md:w-[162px] ms-0.5">
        <img src="/static/images/gitjobs.png"
              height="auto"
              width="auto"
              class="h-full w-full"
              alt="GitJobs Logo">
      </div>
    </a>
  </div>
  {# End logo -#}

  {# Desktop links -#}
  <div class="hidden xl:flex xl:gap-x-6 -mb-2">
    {{ header::link(text = "Jobs", href = "/", active = page_id == PageId::JobBoard) -}}
    {{ header::link(text = "Stats", href = "/stats", active = page_id == PageId::Stats) -}}
    {{ header::link(text = "About", href = "/about", active = page_id == PageId::About) -}}
  </div>
  {# End desktop links -#}
</div>

<div class="relative flex">
  {% if page_id == PageId::JobBoard || page_id == PageId::About || page_id == PageId::Stats -%}
    <div>
      <div class="flex items-center">
        <div class="hidden lg:flex items-center space-x-5">
          <a hx-boost="true"
             href="/dashboard/employer"
             hx-target="body"
             class="btn-primary-outline-anchor w-[140px]">Post a job</a>

          <a hx-boost="true"
             href="/dashboard/job-seeker"
             hx-target="body"
             class="btn-primary-outline-anchor w-[140px]">My profile</a>
        </div>

        <div hx-get="/section/user-menu"
             hx-trigger="load"
             hx-target="this"
             hx-boost="true"
             class="ms-10">
          <button class="relative group rounded-full cursor-pointer bg-white border text-xl border-primary-500 text-primary-600 size-[38px] p-0.5 overflow-hidden"
                  disabled>
            {{ ui::btn_spinner(id = "user-spinner", size = "size-[2.35rem]", spinner_type = "5", htmx = false) -}}
            <div class="svg-icon size-4 mx-auto bg-primary-500 icon-user"></div>
          </button>
        </div>
      </div>
    </div>
  {% else -%}
    {% block user_menu -%}
      {{ header::user_menu(user = user, auth_provider = auth_provider) -}}
    {% endblock user_menu -%}
  {% endif -%}
</div>
{# End Navbar -#}
