{% import "macros.html" as macros %}

{# Navbar #}
<div class="flex items-center space-x-6">
  {# Logo #}
  <div>
    <a hx-boost="true" href="/">
      <img src="/static/images/gitjobs.png"
           height="33px"
           width="162px"
           class="ms-[2px]"
           alt="GitJobs Logo">
    </a>
  </div>
  {# End logo #}

  {# Desktop links #}
  <div class="hidden xl:flex xl:gap-x-6 -mb-2">
    {% call header_link(text = "Jobs", href = "/", active = page_id == PageId::JobBoard) %}
    {% call disabled_header_link(text = "About") %}
  </div>
  {# End desktop links #}
</div>

<div class="relative flex">
  {% if page_id == PageId::JobBoard %}
    job board
  {% else %}
    {% if user.logged_in %}
      {% call macros::user_menu(user.name, user.username) %}
    {% endif %}
  {% endif %}
</div>

{# Dropdown script #}
<script type="module">
  const dropdownButton = document.getElementById('dropdown-button');
  const dropdown = document.getElementById('dropdown-user');

  if (dropdownButton) {
    dropdownButton.addEventListener('click', () => {
      const isOpen = dropdown.classList.contains('hidden');
      dropdown.classList.toggle('hidden');

      if (isOpen) {
        // Close dropdown actions when clicking outside
        document.addEventListener('click', (event) => {
          if (!dropdown.contains(event.target) && !dropdownButton.contains(event.target)) {
            dropdown.classList.add('hidden');
          }
        });
      } else {
        // Remove event listener when dropdown is closed
        document.removeEventListener('click', () => {});
      }
    });
  }
</script>
{# End dropdown script #}
{# End Navbar #}

{% macro header_link(text, href, active = false) %}
  <a href="{{ href }}"
     hx-boost="true"
     class="mx-3 pb-1 border-0 border-primary-500 text-base font-semibold tracking-widest text-primary-500 uppercase border-b-2
            {% if active -%}
              border-primary-500{%- else -%}border-transparent hover:border-primary-300{%- endif -%}">{{ text }}</a>
{% endmacro header_link %}

{% macro disabled_header_link(text) %}
  <button class="mx-3 pb-1 border-0 border-primary-500 text-base font-semibold tracking-widest text-primary-500 uppercase border-b-2 border-transparent hover:border-primary-300"
          disabled
          title="Coming soon!">{{ text }}</button>
{% endmacro disabled_header_link %}
